# ignore configuration file
config.json

# ignore unversioned file
.idea/.gitignore
.idea/.name
.idea/inspectionProfiles/
.idea/ko-stock-assistant.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
kostock/__pycache__/
tests/__pycache__/
